# Ignore data files
data/papers-data/*.jsonl
data/technologies-data/*.npy
data/technologies-data/*.parquet
data/technologies-data/finished_technologies.csv
data/company-data/*
data/technologies-data
linking-data/
linking-data/paper_technology_links.csv

# pipeline data 
pipeline/techlist.csv
pipeline/technologies_normalized.csv
pipeline/technologies_with_definitions.csv
pipeline/papers-data
pipeline/company-data
pipeline/neo4j-files/*
pipeline/technologies_with_definitions.json

# Ignore .env
.env 